<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
    <h1>Gerador de formulários para avaliação pela CPA</h1>
    <p>Este sistema possibilita a criação de uma base de conhecimento de perguntas para reuso entre os diversos cursos</p>
    <p>A padronização das perguntas e das respostas, além de permitir a comparação dos resultados entre aplicações
    semestrais dos questionários, também permite a geração de relatórios unificados entre diferentes cursos</p>
    </div>
</div>
